.logo {
    width: 20%;
    position: absolute;
    left: 40%;
    top: 0px;
}

    
header {
    background-color: white;
    height: 200px;
}
/* styling for the pages other than the homepage */
  nav {
    font-size: 15pt;
    text-align: center;
    position: relative;
    top: 120px;   
  }
  /* styling for the homepage only */
  .position {
      position: relative;
      top: 160px;
  }
  nav a {
     font-family: "Times New Roman", "serif";
     
     font-weight: bold;
  }
    a {
    color: #f6b08c;
    }
    a:hover {
    color: #99a6c9;
    }
   body {
    background-color: #ffe6cc;
    font-family: "Times New Roman", serif;
   }
   .container {
       position: absolute;
       top: 300px;
       left: 33%;
   }

   /* homepage styling  */
   .greeting  {
       z-index: 1;
       font-size: 300px;
       font-family: "Times New Roman", serif;
       font-weight: bold;
       color: white;
       position: absolute;
       top: 400px;
       left: 20%;

   }
    .bgimg {
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .map {
        width: 300px;
        height: auto;
    }